$commentLink : #1e90ff;
$backgroundFooter : #ecf0f1;
$backgroundSubMenuHamburger :#FFF;
$colorLink : #333;
$backgroundMenu : #ecf0f1;
$colorButton: #f35626;
$errorBorderColorMessage : #ff0000;
$errorColorMessage : #0e0e0e;
$hoverBackgroundButton : #ff0000;
$modalColor :#B22222;
$backgroundColorFooter : #e1f1ee;
$hoverColorButton : #eeeeee;
$backgroundColorVideo: #EEEEEE;
$videoNameColor: #000000;
$videosNameColor: #1e90ff;
$modalBackground : #FFFFFF;
$footerBackground : #FAFAFA;