/* Fonts Family */

$titleVideosFamily :"Lucida Sans", sans-serif;



/* Fonts Sizes */
$subMenuHamburgerFontSize : 100%;
$titleVideosSize : 150%;
$titleModalSize : 140%;
$errorMessageSize: 80%;
$videoNameSize : 150%;
$videoDateSize : 80%;
$videosLinkSize : 110%;
$videosTitleSize : 130%;