/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Fonts */
/* Fonts Family */
/* Fonts Sizes */
/* Colors*/
/* Main */
.hamsterHubLogo {
  width: 250px;
  position: absolute;
  top: 12px; }

iframe {
  border: none; }

main {
  margin: 8px;
  padding-top: 70px; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: underline; }

.hidden {
  visibility: hidden; }

.shareVideos {
  font-size: 150%;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Lucida Sans", sans-serif; }

@media screen and (min-width: 720px) {
  main {
    padding-left: 200px; } }
@media screen and (min-width: 1024px) {
  main {
    max-width: 100%;
    padding-left: 250px; }

  .container {
    margin: auto 10%;
    max-width: 1280px; } }
@media screen and (min-width: 1700px) {
  .container {
    margin: 0 auto; } }
/* Header */
.header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0; }

.hamburgerMenu {
  display: inline-block;
  width: 50px;
  height: 66px; }

.hamburgerMenu:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 0;
  margin-top: 16px;
  margin-left: 15px;
  box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black; }

.subMenuHamburger {
  text-align: center;
  display: none;
  height: auto;
  position: fixed;
  background-color: #FFF;
  font-size: 100%;
  left: 0;
  margin-top: 70px;
  z-index: 1;
  padding: 5% 10%;
  line-height: 30px;
  -webkit-box-shadow: 10px 9px 15px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 15px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 9px 15px -5px rgba(0, 0, 0, 0.75); }

.subMenuHamburger hr {
  margin: 20px auto; }

.subMenu {
  display: none; }

@media screen and (min-width: 720px) {
  .subMenu {
    display: inline-block;
    float: right;
    vertical-align: middle; }

  .subMenu p {
    display: inline; }

  .subMenu form {
    display: inline; }

  .hamburgerMenu {
    display: none; }

  header {
    height: 60px;
    margin: 8px; } }
/* Sign */
input {
  display: block;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background: ghostwhite;
  height: 25px; }

input[type="file"] {
  padding-top: 4px; }

.logoutInput {
  display: inline-block;
  vertical-align: 3px; }

.logoutSubMenuInput {
  margin: 0 auto !important; }

.modalWindow {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  pointer-events: none; }

.modal {
  max-width: 300px;
  position: relative;
  margin: 1% auto;
  padding: 20px;
  border-radius: 5px;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.modal input {
  margin-left: 0;
  margin-right: 0;
  width: 100%; }

.modal a {
  text-decoration: none;
  color: #B22222; }

.modal a:hover {
  color: #ff0000; }

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer; }

.close:hover {
  opacity: 1;
  transition: 0.5s; }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

.button {
  border: 2px solid #f35626;
  line-height: 1.375;
  font-weight: 700;
  color: #f35626;
  cursor: pointer;
  padding: 0.5em;
  margin: .375rem;
  background-color: transparent;
  border-radius: 4px;
  height: auto; }

.button:hover {
  background: #ff0000;
  color: #eeeeee;
  transition: 0.4s; }

.borderForm {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid darkgrey; }

.title {
  font-size: 140%;
  color: black;
  font-weight: bold;
  border-bottom: 1px black solid;
  width: 50%;
  margin-bottom: 20px; }

.deleteVideoTitle {
  color: #f35626; }

/* Loader */
.loader {
  display: none;
  position: fixed;
  z-index: 9999;
  background: url("/assets/img/loadingBar.gif") 50% 50% no-repeat;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: wait; }

/*Errors Messages */
.error {
  color: #0e0e0e;
  font-size: 80%;
  margin-top: 5px;
  margin-bottom: 0; }

.inputTxtError {
  border: 1px solid #ff0000;
  color: #0e0e0e; }

.error {
  color: #ff0000;
  font-size: 80%;
  margin-top: 5px;
  margin-bottom: 0; }

.inputTxtError {
  margin: 1px;
  border: 1px solid #ff0000;
  color: #0e0e0e; }

.labelAnswer {
  vertical-align: super; }

.inputAnswer {
  width: 15% !important;
  display: inline-block; }

@media screen and (min-width: 720px) {
  .button {
    padding: .75rem; } }
/* Menu */
.aside {
  display: none; }

@media screen and (min-width: 720px) {
  .aside {
    display: inline-block;
    position: fixed;
    background-color: #ecf0f1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    left: 8px;
    width: 170px;
    height: 92%;
    padding: 50px 0;
    text-align: center; }

  .aside img {
    width: 100px; }

  .aside .button {
    margin: 50px auto;
    display: block;
    width: 70%; } }
@media screen and (min-width: 1024px) {
  .aside {
    width: 250px; } }
/* Video */
.videoNameBlock .videoName {
  font-size: 150%;
  font-weight: normal;
  line-height: normal;
  word-wrap: break-word;
  text-align: left;
  position: relative;
  top: 0;
  color: #000000; }

.video {
  background-color: #EEEEEE;
  text-align: center;
  margin: 0; }

.videoUserBlock .videoUser {
  vertical-align: middle;
  line-height: 40px;
  margin-top: -32px;
  display: inline-block; }

.videoNameBlock {
  padding: 3%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 5% 0;
  box-sizing: border-box; }

.videoBlock .videoDescriptionBlock {
  padding: 3%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 5% 0;
  box-sizing: border-box; }

.videoDescriptionBlock .videoDate {
  font-size: 80%;
  line-height: 17px; }

.videoNameBlock .videoUserImage {
  max-width: 40px;
  height: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.videoDescriptionBlock .videoDescription {
  line-height: 17px;
  color: rgba(0, 0, 0, 0.69); }

.videoViews {
  text-align: right; }

.iframe-responsive-wrapper {
  position: relative;
  max-height: 720px; }

.iframe-responsive-wrapper .iframe-ratio {
  display: block;
  width: 100%;
  height: auto; }

.iframe-responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media screen and (min-width: 1024px) {
  .videoNameBlock .videoUserImage {
    max-width: 10%;
    height: auto; }

  .videoUserImage {
    width: 60px; }

  .videoUserBlock .videoUser {
    vertical-align: middle;
    height: 60px;
    display: inline-block; }

  .videoNameBlock {
    padding: 2%;
    margin: 2% 0; }

  .videoBlock .videoDescriptionBlock {
    padding: 1%;
    margin: 1% 0; } }
/* Comments */
.commentInput {
  margin: 0; }

.commentForm input[type="text"] {
  width: 100%;
  height: 50px; }

.commentUserImage {
  width: 40px;
  display: inline-block; }

.commentContentBlock {
  display: inline-block;
  margin-bottom: 50px;
  vertical-align: top; }

.commentBlock button {
  vertical-align: top; }

.commentBlock a {
  color: #1e90ff; }

.commentContent {
  margin-top: 3px; }

/* Videos */
.imgYoutube {
  max-width: 100%;
  height: auto; }

.videosBlock {
  text-align: center;
  margin-bottom: 30px; }

.videos {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px; }

.videos .videosName {
  color: #1e90ff; }

.goToVideo {
  font-size: 110%; }

.h4Title {
  font-size: 130%;
  text-align: center; }

/* Footer */
html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%; }

main {
  padding-bottom: 140px; }

.footer {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ecf0f1;
  text-align: center;
  padding-top: 20px; }

/*# sourceMappingURL=styles.css.map */
