{% block header %}
    <header class="header">
    <span class="hamburgerMenu hamburgerMenuNoneActive">

    </span>
        <div class="subMenuHamburger">
            {% if app.request.session.get("userId") is null %}
                <button value="Sign In" name="signIn" class="button">
                    Se Connecter
                </button><br>
                <button value="Sign Up" name="signUp" class="button">
                    S'inscrire
                </button>
            {% else %}
                <a class="button" href="../profile">Profile</a>
                <hr>
                <a class="button" href="../myVideos">Mes Vidéos</a>
                <hr>
                <form name="logout" class="form" method="post">
                    <input type="submit" class="button logoutSubMenuInput" value="Se Déconnecter">
                </form>
            {% endif %}
        </div>
        <a href="../"><img src="{{ asset('assets/img/HamsterHubLogo.svg') }}" class="hamsterHubLogo"
                           alt="Hamster Hub Logo"></a>
        {% include 'UserBundle:Register:signIn.html.twig' %}
        {% include 'UserBundle:Register:signUp.html.twig' %}
    </header>
{% endblock %}