{% include 'UserBundle:Base:head.html.twig' %}

<body>
<main role="main">
    {% include 'UserBundle:Base:header.html.twig' %}
    <div class="loader"></div>
    <!--undefined variable si rien dans la base de données-->
    {% include 'UserBundle:Videos:videos.html.twig' %}
</main>
</body>
</html>