{% block deleteVideo %}
    <button name="delete{{ video.youtubeId }}" type="submit">
        Delete Video
    </button>
    <div class="deleteVideoWindow delete{{ video.youtubeId }}Window modalWindow">
        <div class="modal">
            <form name="deleteVideo/{{ video.id }}" class="form" method="post">
                <fieldset class="borderForm">
                    <p class="title"> Are you sure that you want to delete your video ? </p>
                    <div class="videoNameInput">
                        <input type="radio" name="videoName" value="Yes">Yes<br>
                    </div>
                    <div class="nameInput">
                        <input type="radio" name="videoName" value="No" onclick="location.reload()">No<br>
                    </div>
                    <input type="hidden" name="videoId" value="{{ video.id }}">
                    <input type="submit" class="button" value="DELETE VIDEO">
                </fieldset>
            </form>
            <div class="close"></div>
        </div>
    </div>
{% endblock %}