{% include 'UserBundle:Base:head.html.twig' %}

<body>
<main role="main">
    {% include 'UserBundle:Base:header.html.twig' %}
    <br>
    <br>
    <a class="goToVideo" href="../profile/{{ nickname }}">Retourner sur le profile de {{ nickname }}</a><br><br>
    <div class="loader"></div>
    <h4>Les vidéos de {{ nickname }}</h4><br><br>
    {% if videos %}
        {% include 'UserBundle:Videos:videos.html.twig' %}
    {% else %}
        <p>{{ nickname }} n'a pas posté de vidéos !</p>
    {% endif %}
</main>
</body>
</html>