{% block signUp %}
    <div class="signUpWindow modalWindow">
        <div class="modal">
            <form name="signUp" class="form" method="POST" id="signUp" enctype="multipart/form-data">
                <fieldset class="borderForm">
                    <p class="title"> S'inscire </p>
                    <label class="labelNickname" for="nickname">Nickname</label><br>
                    <input type="text" id="nickname" name="nickname"><br>

                    <label class="labelEmail" for="email">Email</label><br>
                    <input type="email" id="email" name="email"><br>

                    <label class="labelBirthDate" for="birthDate">Date de Naissance</label><br>
                    <input type="date" id="birthDate" name="birthDate"><br>

                    <div class="custom-file-upload">
                        <label class="labelProfileImage" for="profileImage">Image de profile</label><br>
                        <input type="file" id="profileImage" name="profileImage" > <br>
                    </div>
                    <label class="labelPassword" for="password">Mot de passe</label><br>
                    <input type="password" id="password" name="password"><br>

                    <label class="labelPasswordVerification" for="passwordVerification">Vérification de mot de
                        passe</label><br>
                    <input type="password" id="passwordVerification" name="passwordVerification"><br>

                    <input type="submit" class="button" value="Register">
                </fieldset>
            </form>

            <div class="close"></div>

        </div>
    </div>
{% endblock %}