{% block signIn %}
    <div class="signInWindow modalWindow">
        <div class="modal">
            <form name="signIn" class="form" method="post" id="signIn">
                <fieldset class="borderForm">
                    <p class="title"> Se Connecter </p>
                    <div class="emailInput">
                        <label class="labelEmail" for="loginEmail">EMAIL</label><br>
                        <input type="email" id="loginEmail" name="email"><br>
                    </div>
                    <div class="passwordInput">
                        <label class="labelPassword" for="loginPassword">MOT DE PASSE</label><br>
                        <input type="password" id="loginPassword" name="password"><br>
                    </div>
                    <input type="submit" class="button" value="LOG IN">
                </fieldset>
            </form>
            <div class="close"></div>
        </div>
    </div>
{% endblock %}